<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Second Line</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="Peso" [(ngModel)]="peso" >
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Altura" [(ngModel)]="altura">
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Select">
          <mat-option value="option">Option</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <h3>{{(peso/(altura*altura))}} </h3>
<router-outlet></router-outlet>
